.products{
padding: 20px;
text-align: center;
}

.product-grid{
display:flex;
justify-content:center;
gap:20px;
}

.product-card{
    border:1px solid #ccc;
    width:100%;
    height:auto;
}

.product-card button{
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.product-card button :hover{
    background: color #555;
}

.product-card img{
    width: 100%;
    height: auto;
}