.login-container{
    width:400px;
    margin:100px;
    padding:20px;
    background-color:orange;
    border-radius: 4px;
}

h1{
    text-align:center;
}

button{
    width:100%;
    padding: 10px;
    background-color:white;
    color:black;
    border-radius:4px;
    margin-left:5px;
}

input{
    width:95%;
    padding:10px;
    margin: 10px;
    border-radius: 4px;
}